In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# loading of the datasets

df=pd.read_csv("crimeStatistics.csv")
df

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [17]:
df.columns = ['S/No.', 'Case/Crime Incidences', 'Total Cases', 'Cases under Inquiry', 'Not Detected/NPW', 'Cases taken to court', 'Cases submitted to DPP/RSA', 'Cases with convictions', 'Cases with Acquittals', 'Cases Dismissed', 'Cases pending in Court', 'Male Adult(Accused Charged)', 'Male Juven.(Accused Charged)', 'Female Adult(Accused Charged)', 'Female Juven.(Accused Charged)', 'Male Adult(Accused Convicted)', 'Male Juven.(Accused Convicted)', 'Female Adult(Accused Convicted)', 'Female Juven.(Accused Convicted)', 'Acquitted', 'Discharged', 'Awaiting Trial', 'Male Adult(Imprisonment)', 'Male Juven.(Imprisonment)', 'Female Adult(Imprisonment)', 'Female Juven.(Imprisonment)', 'Death', 'Fined', 'Probation Bound Over', 'Caution', 'Comm.Work', 'Fine Awarded(UgShs.)', 'Male Adult(Victims of Crime)', 'Male Juven.(Victims of Crime)', 'Female Adult(Victims of Crime)', 'Female Juven.(Victims of Crime)', 'Value Property lost(UGSHS.)', 'Value Property recovered(UGSHS.)']
df

,S/No.,Case/Crime Incidences,Total Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted to DPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,Caution,Comm.Work,Fine Awarded(UgShs.),Male Adult(Victims of Crime),Male Juven.(Victims of Crime),Female Adult(Victims of Crime),Female Juven.(Victims of Crime),Value Property lost(UGSHS.),Value Property recovered(UGSHS.)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [20]:
row1_index=1
dataset1 = df.drop(row1_index)
dataset1

,S/No.,Case/Crime Incidences,Total Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted to DPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,Caution,Comm.Work,Fine Awarded(UgShs.),Male Adult(Victims of Crime),Male Juven.(Victims of Crime),Female Adult(Victims of Crime),Female Juven.(Victims of Crime),Value Property lost(UGSHS.),Value Property recovered(UGSHS.)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [19]:
#no duplicates so far
d1=df.drop_duplicates()
d1

,S/No.,Case/Crime Incidences,Total Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted to DPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,Caution,Comm.Work,Fine Awarded(UgShs.),Male Adult(Victims of Crime),Male Juven.(Victims of Crime),Female Adult(Victims of Crime),Female Juven.(Victims of Crime),Value Property lost(UGSHS.),Value Property recovered(UGSHS.)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [5]:
# removing columns we dont want eg unnamed:0
d2=df.drop(columns="Unnamed: 0")
d2

,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,Cases pending in Court,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,9,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Death (by shooting),190,117,29,44,74,3,1,1,39,...,-,-,-,-,197,4,17,-,"11,500,000",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,UWA Statute,648,112,89,447,485,269,8,26,144,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,Local Government Act,4,2,1,1,1,-,-,-,1,...,-,-,-,-,4,-,-,-,-,-
124,All other Acts,821,345,189,287,430,173,7,19,93,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,500,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121","38,411",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [14]:
#dropping a row
row_index = 0# Index of the row you want to remove
dataset = df.drop(row_index)
dataset

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [21]:
#removing another row
row1_index=0
dataset1 = df.drop(row1_index)
dataset1

,S/No.,Case/Crime Incidences,Total Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted to DPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,Caution,Comm.Work,Fine Awarded(UgShs.),Male Adult(Victims of Crime),Male Juven.(Victims of Crime),Female Adult(Victims of Crime),Female Juven.(Victims of Crime),Value Property lost(UGSHS.),Value Property recovered(UGSHS.)
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [27]:
row1_index=1
dataset1 = df.drop(row1_index)
dataset1

,S/No.,Case/Crime Incidences,Total Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted to DPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,Caution,Comm.Work,Fine Awarded(UgShs.),Male Adult(Victims of Crime),Male Juven.(Victims of Crime),Female Adult(Victims of Crime),Female Juven.(Victims of Crime),Value Property lost(UGSHS.),Value Property recovered(UGSHS.)
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [28]:
row1_index=3
dataset1 = df.drop(row1_index)
dataset1

,S/No.,Case/Crime Incidences,Total Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted to DPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,Caution,Comm.Work,Fine Awarded(UgShs.),Male Adult(Victims of Crime),Male Juven.(Victims of Crime),Female Adult(Victims of Crime),Female Juven.(Victims of Crime),Value Property lost(UGSHS.),Value Property recovered(UGSHS.)
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,...,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121",...,83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [13]:
df.shape

(127, 38)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   95 non-null     object
 1   Unnamed: 1                   125 non-null    object
 2   REPORTED CASES               125 non-null    object
 3   Unnamed: 3                   125 non-null    object
 4   Unnamed: 4                   125 non-null    object
 5   Unnamed: 5                   125 non-null    object
 6   PERFOMANCE                   125 non-null    object
 7   Unnamed: 7                   125 non-null    object
 8   Unnamed: 8                   125 non-null    object
 9   Unnamed: 9                   125 non-null    object
 10  Unnamed: 10                  125 non-null    object
 11  PERSONS TAKEN TO COURT       126 non-null    object
 12  Unnamed: 12                  124 non-null    object
 13  Unnamed: 13                  124 non-null    object
 14  Unnamed: 14                  124 non-null    object
 15  Unnamed: 15                  126 non-null    object
 16  Unnamed: 16                  124 non-null    object
 17  Unnamed: 17                  124 non-null    object
 18  Unnamed: 18                  124 non-null    object
 19  Unnamed: 19                  109 non-null    object
 20  Unnamed: 20                  109 non-null    object
 21  Unnamed: 21                  109 non-null    object
 22  SENTENCES IMPOSED BY COURTS  109 non-null    object
 23  Unnamed: 23                  108 non-null    object
 24  Unnamed: 24                  108 non-null    object
 25  Unnamed: 25                  109 non-null    object
 26  Unnamed: 26                  109 non-null    object
 27  Unnamed: 27                  109 non-null    object
 28  Unnamed: 28                  109 non-null    object
 29  Unnamed: 29                  109 non-null    object
 30  Unnamed: 30                  109 non-null    object
 31  Unnamed: 31                  109 non-null    object
 32  Unnamed: 32                  100 non-null    object
 33  Unnamed: 33                  107 non-null    object
 34  Unnamed: 34                  99 non-null     object
 35  Unnamed: 35                  108 non-null    object
 36  Unnamed: 36                  110 non-null    object
 37  Unnamed: 37                  109 non-null    object
dtypes: object(38)
memory usage: 37.8+ KB

In [32]:
df2=pd.read_csv("uceResults.csv")
df2

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,...,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,...,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,...,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,...,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,...,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,...,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [36]:
m=df2['TOTAL DIV 3'].mean()
df2['TOTAL DIV 3'].fillna(m,inplace=True)
df2

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,22.545841,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,22.545841,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,22.545841,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,22.545841,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,22.545841,0.0,...,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.000000,20.3,...,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.000000,16.2,...,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.000000,4.7,...,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.000000,4.4,...,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.000000,8.0,...,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [16]:
null_values=df.isnull()
null_values

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,False,True,True,True,False,True
1,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,False,False,False
3,True,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
125,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
126,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
df.isnull().sum().sort_values(ascending=False)

Unnamed: 0                     32
Unnamed: 34                    28
Unnamed: 32                    27
Unnamed: 33                    20
Unnamed: 35                    19
Unnamed: 23                    19
Unnamed: 24                    19
Unnamed: 26                    18
SENTENCES IMPOSED BY COURTS    18
Unnamed: 25                    18
Unnamed: 29                    18
Unnamed: 27                    18
Unnamed: 28                    18
Unnamed: 20                    18
Unnamed: 30                    18
Unnamed: 31                    18
Unnamed: 21                    18
Unnamed: 19                    18
Unnamed: 37                    18
Unnamed: 36                    17
Unnamed: 14                     3
Unnamed: 12                     3
Unnamed: 13                     3
Unnamed: 18                     3
Unnamed: 16                     3
Unnamed: 17                     3
Unnamed: 10                     2
Unnamed: 1                      2
Unnamed: 8                      2
Unnamed: 7                      2
PERFOMANCE                      2
Unnamed: 5                      2
Unnamed: 4                      2
Unnamed: 3                      2
REPORTED CASES                  2
Unnamed: 9                      2
Unnamed: 15                     1
PERSONS TAKEN TO COURT          1
dtype: int64

In [17]:
df.dropna(inplace=True)
df

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
7,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,-,2,...,-,-,-,-,174,25,138,16,-,-
8,5,Death(Fire Out Breaks),42,25,11,6,14,-,-,-,...,-,-,-,-,16,24,7,19,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,96,Firearms Act,109,38,23,48,54,17,-,3,...,-,1,-,"16,000,000",95,-,2,-,-,-
121,97,Enguli Act,4,3,1,-,-,-,-,-,...,-,-,-,-,5,-,-,-,-,-
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"

In [18]:
df.dropna()

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
7,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,-,2,...,-,-,-,-,174,25,138,16,-,-
8,5,Death(Fire Out Breaks),42,25,11,6,14,-,-,-,...,-,-,-,-,16,24,7,19,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,96,Firearms Act,109,38,23,48,54,17,-,3,...,-,1,-,"16,000,000",95,-,2,-,-,-
121,97,Enguli Act,4,3,1,-,-,-,-,-,...,-,-,-,-,5,-,-,-,-,-
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,...,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"

In [34]:
df_data=df.replace('-', '')
df_data

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,,,,,197,4,17,,"11,500,000",
9,8,Other Death (Not Specified above),"3,186","1,740",626,820,"1,259",25,2,8,...,,,1,,"2,475",192,473,104,"600,000",
15,12,Counterfeiting,541,215,159,167,244,51,1,30,...,,13,9,"700,000",416,3,164,,"226,405,000","13,577,000"
16,13,Forgeries & Uttering of Documents,898,525,186,187,378,52,5,26,...,,1,5,"19,490,000",713,3,125,,"776,721,600","77,321,000"
19,16,Obtaining By False Pretences,"12,313","5,776","3,936","2,601","4,637",817,51,389,...,1,107,123,"72,330,000","9,525",9,"2,807",5,"121,253,215,820","18,452,845,505"
21,18,Land Frauds,345,171,124,50,173,9,4,7,...,,,2,"26,000,000",272,,78,,"735,920,000","8,250,000"
28,22,Indecent Assault,396,118,114,164,199,54,3,22,...,,5,6,,2,8,293,93,,
43,34,Burglaries,"6,867","2,256","1,511","3,100","3,906",851,50,641,...,2,62,96,"13,768,000","5,126",54,"1,712",8,"14,896,936,673","1,449,951,500"
44,35,House Breakings,"3,368","1,038",693,"1,637","1,933",471,32,321,...,1,38,62,"6,288,000","2,482",20,833,29,"3,935,352,209","545,307,100"
45,36,Shop Breaking,"2,000",670,390,940,"1,224",231,21,181,...,1,10,27,"6,800,000","1,623",11,421,16,"5,055,172,360","705,691,500"
47,38,"Other Breakings (garage ,etc )","1,336",368,264,704,818,192,10,145,...,,15,23,"2,200,000","1,051",3,272,3,"9,121,558,001","781,194,100"
50,39,Theft of Motor Vehicles,"1,200",682,265,253,545,51,6,33,...,,11,2,"23,800,000","1,064",1,151,,"31,128,827,744","8,385,794,744"
51,40,Theft of Motor Cycles,"4,612","2,144",956,"1,512","2,195",341,28,228,...,,33,7,"23,850,000","4,278",15,316,1,"13,101,107,265","3,611,562,000"
52,41,Theft from M/Vs (Spares),"1,093",467,259,367,515,105,6,48,...,,10,19,"1,600,000",961,5,115,8,"28,510,074,488","463,875,000"
53,42,Theft from M/Vs (property),597,238,171,188,262,57,4,30,...,,2,10,"1,400,000",508,,93,,"2,246,998,384","275,770,200"
54,43,Theft of Bicycles,"1,028",293,277,458,502,178,6,91,...,,11,14,"4,700,000",898,16,106,2,"372,666,726","90,301,100"
55,44,Theft of Computers(Laptops),796,331,235,230,358,70,4,38,...,,7,9,"3,100,000",606,2,224,2,"1,484,472,952","265,351,352"
56,45,Thefts of Mobile Phones,"6,205","2,245","1,875","2,085","2,896",730,36,380,...,1,73,142,"8,460,000","4,150",57,"2,011",37,"2,512,992,663","687,179,643"
58,47,Thefts of Cash,"7,079","2,791","1,890","2,398","3,414",757,52,378,...,2,91,125,"95,120,000","4,805",26,"2,244",16,"31,052,399,962","4,271,332,566"
59,48,Cattle Stealing,"7,161","2,006","1,641","3,514","3,952","1,132",48,682,...,,75,141,"43,380,002","5,669",15,"1,355",3,"9,334,239,250","2,929,056,600"
60,49,"Theft of Telecom,Electrical & Comm Items",127,44,33,50,77,15,1,8,...,,1,15,"500,000",103,1,24,,"617,536,000","44,894,600"
62,51,Receiving & Retaining(Stolen Prop),415,112,83,220,261,70,3,38,...,,7,18,"1,000,000",366,,44,,"851,543,200","201,431,200"
63,52,"Theft (property snatching-Bags,Neckless,etc)",80,26,11,43,49,19,4,7,...,,2,,"1,200,000",55,,28,,"38,138,300","6,815,000"
64,53,Theft of all kinds (General ),"31,135","9,391","8,311","13,433","16,977","5,052",208,"2,456",...,17,442,861,"69,348,004","23,117",209,"7,119",112,"44,714,306,227","10,400,278,297"
67,54,Aggravated Robbery(Motor Cycles),481,313,66,102,196,6,2,2,...,,,,"2,200,000",451,1,26,,"1,629,342,000","255,261,000"
69,56,Aggravated Robbery(Cash),390,231,58,101,161,1,2,4,...,,,,,326,2,74,,"8,136,488,540","247,191,000"
70,57,Aggravated Robbery(general),"1,212",630,206,376,581,17,1,13,...,,,4,"200,000","1,013",3,208,1,"6,053,008,099","943,451,000"
72,59,Simple Robbery(general),"5,173","2,166","1,475","1,532","2,170",309,14,251,...,1,44,48,"10,846,000","3,941",42,"1,165",3,"8,266,203,900","953,609,800"
76,61,Aggravated Assaults(general),"6,584","2,353","1,436","2,795","3,241",824,51,358,...,2,108,130,"43,120,037","4,488",133,"2,031",57,"625,000",
77,62,Common Assaults,"29,735","12,442","11,835","5,458","8,100","1,678",127,801,...,9,234,489,"26,130,514","17,235",775,"10,176",297,,
80,63,Threatening Violence,"13,357","5,223","4,477","3,657","5,192","1,024",86,653,...,3,140,216,"8,160,117","8,600",103,"4,424",51,"60,000",
83,67,Arson (General),"2,196",885,584,727,871,86,23,115,...,1,11,7,"6,700,036","1,453",37,556,25,"1,002,328,650","64,478,000"
84,68,Malicious Damage to Property,"8,339","3,409","2,723","2,207","3,362",586,75,354,...,3,79,105,"10,300,045","5,926",93,"2,215",24,"1,441,291,000","97,843,000"
86,70,Escapes from Lawful Custody,"1,557",292,172,"1,093","1,114",750,4,74,...,,14,26,"1,000,022","1,305",9,101,,"5,764,320",
90,74,Criminal Tresspass,"9,500","3,959","3,111","2,430","4,013",708,60,399,...,1,108,196,"5,610,090","6,953",34,"2,290",12,"21,392,000","3,020,000"
91,75,Domestic Violence,"13,916","5,143","7,627","1,146","2,362",317,35,174,...,4,77,63,"1,400,023","2,873",541,"10,478",558,,
92,76,Att. Suicide,293,101,132,60,72,24,1,11,...,,3,1,"300,006",169,1,89,5,,
94,78,Att. Killing( other than shooting),740,246,135,359,417,68,7,30,...,1,3,3,"7,000,003",559,13,158,5,,
95,79,other penal code offences (not categorized),"13,570","5,011","4,301","4,258","6,048","1,509",67,629,...,10,491,709,"29,655,105","9,928",244,"2,983",215,"6,923,825,490","949,484,420"
102,82,Incitement to Violence,181,81,66,34,67,4,1,7,...,,,18,,171,,11,,,
104,84,Election Offences,249,97,110,42,101,5,2,11,...,,3,4,"1,200,000",215,1,25,,,
113,89,Herbal Cannabis,679,104,88,487,531,188,2,87,...,,18,48,"250,000",508,1,36,,,
114,91,Other Narcotics(general),"2,195",469,286,"1,440","1,549",597,15,225,...,,76,276,"3,980,001","1,790",19,101,,"850,000",
117,93,Immigration Act,472,45,84,343,362,242,2,13,...,,93,3,"230,000,000",363,,8,,,
118,94,NEMA,306,113,78,115,125,59,2,11,...,,15,17,"20,700,000",258,,32,,"6,600,000",
119,95,Fish and Crocodiles Act,642,91,155,396,428,231,5,55,...,,127,33,"10,220,000",633,,3,,,
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,,15,10,"172,222,000",608,,8,,"26,000,000","26,000,000"
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"

In [28]:
for x in df.index:
    if df.loc[x,'Unnamed: 8'] =='':
        df.drop(x,inplace=True)
df

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,,,,,197,4,17,,"11,500,000",
9,8,Other Death (Not Specified above),"3,186","1,740",626,820,"1,259",25,2,8,...,,,1,,"2,475",192,473,104,"600,000",
15,12,Counterfeiting,541,215,159,167,244,51,1,30,...,,13,9,"700,000",416,3,164,,"226,405,000","13,577,000"
16,13,Forgeries & Uttering of Documents,898,525,186,187,378,52,5,26,...,,1,5,"19,490,000",713,3,125,,"776,721,600","77,321,000"
19,16,Obtaining By False Pretences,"12,313","5,776","3,936","2,601","4,637",817,51,389,...,1,107,123,"72,330,000","9,525",9,"2,807",5,"121,253,215,820","18,452,845,505"
21,18,Land Frauds,345,171,124,50,173,9,4,7,...,,,2,"26,000,000",272,,78,,"735,920,000","8,250,000"
28,22,Indecent Assault,396,118,114,164,199,54,3,22,...,,5,6,,2,8,293,93,,
43,34,Burglaries,"6,867","2,256","1,511","3,100","3,906",851,50,641,...,2,62,96,"13,768,000","5,126",54,"1,712",8,"14,896,936,673","1,449,951,500"
44,35,House Breakings,"3,368","1,038",693,"1,637","1,933",471,32,321,...,1,38,62,"6,288,000","2,482",20,833,29,"3,935,352,209","545,307,100"
45,36,Shop Breaking,"2,000",670,390,940,"1,224",231,21,181,...,1,10,27,"6,800,000","1,623",11,421,16,"5,055,172,360","705,691,500"
47,38,"Other Breakings (garage ,etc )","1,336",368,264,704,818,192,10,145,...,,15,23,"2,200,000","1,051",3,272,3,"9,121,558,001","781,194,100"
50,39,Theft of Motor Vehicles,"1,200",682,265,253,545,51,6,33,...,,11,2,"23,800,000","1,064",1,151,,"31,128,827,744","8,385,794,744"
51,40,Theft of Motor Cycles,"4,612","2,144",956,"1,512","2,195",341,28,228,...,,33,7,"23,850,000","4,278",15,316,1,"13,101,107,265","3,611,562,000"
52,41,Theft from M/Vs (Spares),"1,093",467,259,367,515,105,6,48,...,,10,19,"1,600,000",961,5,115,8,"28,510,074,488","463,875,000"
53,42,Theft from M/Vs (property),597,238,171,188,262,57,4,30,...,,2,10,"1,400,000",508,,93,,"2,246,998,384","275,770,200"
54,43,Theft of Bicycles,"1,028",293,277,458,502,178,6,91,...,,11,14,"4,700,000",898,16,106,2,"372,666,726","90,301,100"
55,44,Theft of Computers(Laptops),796,331,235,230,358,70,4,38,...,,7,9,"3,100,000",606,2,224,2,"1,484,472,952","265,351,352"
56,45,Thefts of Mobile Phones,"6,205","2,245","1,875","2,085","2,896",730,36,380,...,1,73,142,"8,460,000","4,150",57,"2,011",37,"2,512,992,663","687,179,643"
58,47,Thefts of Cash,"7,079","2,791","1,890","2,398","3,414",757,52,378,...,2,91,125,"95,120,000","4,805",26,"2,244",16,"31,052,399,962","4,271,332,566"
59,48,Cattle Stealing,"7,161","2,006","1,641","3,514","3,952","1,132",48,682,...,,75,141,"43,380,002","5,669",15,"1,355",3,"9,334,239,250","2,929,056,600"
60,49,"Theft of Telecom,Electrical & Comm Items",127,44,33,50,77,15,1,8,...,,1,15,"500,000",103,1,24,,"617,536,000","44,894,600"
62,51,Receiving & Retaining(Stolen Prop),415,112,83,220,261,70,3,38,...,,7,18,"1,000,000",366,,44,,"851,543,200","201,431,200"
63,52,"Theft (property snatching-Bags,Neckless,etc)",80,26,11,43,49,19,4,7,...,,2,,"1,200,000",55,,28,,"38,138,300","6,815,000"
64,53,Theft of all kinds (General ),"31,135","9,391","8,311","13,433","16,977","5,052",208,"2,456",...,17,442,861,"69,348,004","23,117",209,"7,119",112,"44,714,306,227","10,400,278,297"
67,54,Aggravated Robbery(Motor Cycles),481,313,66,102,196,6,2,2,...,,,,"2,200,000",451,1,26,,"1,629,342,000","255,261,000"
69,56,Aggravated Robbery(Cash),390,231,58,101,161,1,2,4,...,,,,,326,2,74,,"8,136,488,540","247,191,000"
70,57,Aggravated Robbery(general),"1,212",630,206,376,581,17,1,13,...,,,4,"200,000","1,013",3,208,1,"6,053,008,099","943,451,000"
72,59,Simple Robbery(general),"5,173","2,166","1,475","1,532","2,170",309,14,251,...,1,44,48,"10,846,000","3,941",42,"1,165",3,"8,266,203,900","953,609,800"
76,61,Aggravated Assaults(general),"6,584","2,353","1,436","2,795","3,241",824,51,358,...,2,108,130,"43,120,037","4,488",133,"2,031",57,"625,000",
77,62,Common Assaults,"29,735","12,442","11,835","5,458","8,100","1,678",127,801,...,9,234,489,"26,130,514","17,235",775,"10,176",297,,
80,63,Threatening Violence,"13,357","5,223","4,477","3,657","5,192","1,024",86,653,...,3,140,216,"8,160,117","8,600",103,"4,424",51,"60,000",
83,67,Arson (General),"2,196",885,584,727,871,86,23,115,...,1,11,7,"6,700,036","1,453",37,556,25,"1,002,328,650","64,478,000"
84,68,Malicious Damage to Property,"8,339","3,409","2,723","2,207","3,362",586,75,354,...,3,79,105,"10,300,045","5,926",93,"2,215",24,"1,441,291,000","97,843,000"
86,70,Escapes from Lawful Custody,"1,557",292,172,"1,093","1,114",750,4,74,...,,14,26,"1,000,022","1,305",9,101,,"5,764,320",
90,74,Criminal Tresspass,"9,500","3,959","3,111","2,430","4,013",708,60,399,...,1,108,196,"5,610,090","6,953",34,"2,290",12,"21,392,000","3,020,000"
91,75,Domestic Violence,"13,916","5,143","7,627","1,146","2,362",317,35,174,...,4,77,63,"1,400,023","2,873",541,"10,478",558,,
92,76,Att. Suicide,293,101,132,60,72,24,1,11,...,,3,1,"300,006",169,1,89,5,,
94,78,Att. Killing( other than shooting),740,246,135,359,417,68,7,30,...,1,3,3,"7,000,003",559,13,158,5,,
95,79,other penal code offences (not categorized),"13,570","5,011","4,301","4,258","6,048","1,509",67,629,...,10,491,709,"29,655,105","9,928",244,"2,983",215,"6,923,825,490","949,484,420"
102,82,Incitement to Violence,181,81,66,34,67,4,1,7,...,,,18,,171,,11,,,
104,84,Election Offences,249,97,110,42,101,5,2,11,...,,3,4,"1,200,000",215,1,25,,,
113,89,Herbal Cannabis,679,104,88,487,531,188,2,87,...,,18,48,"250,000",508,1,36,,,
114,91,Other Narcotics(general),"2,195",469,286,"1,440","1,549",597,15,225,...,,76,276,"3,980,001","1,790",19,101,,"850,000",
117,93,Immigration Act,472,45,84,343,362,242,2,13,...,,93,3,"230,000,000",363,,8,,,
118,94,NEMA,306,113,78,115,125,59,2,11,...,,15,17,"20,700,000",258,,32,,"6,600,000",
119,95,Fish and Crocodiles Act,642,91,155,396,428,231,5,55,...,,127,33,"10,220,000",633,,3,,,
122,98,UWA Statute,648,112,89,447,485,269,8,26,...,,15,10,"172,222,000",608,,8,,"26,000,000","26,000,000"
124,100,All other Acts,821,345,189,287,430,173,7,19,...,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"

In [39]:
df.describe()

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
count,48,48,48,48,48,48,48,48,48,48,...,48,48,48,48,48,48,48,48,48,48
unique,48,48,48,47,47,47,48,45,27,38,...,9,31,36,42,47,29,46,21,39,32
top,1,Death (by shooting),190,112,66,50,74,51,2,30,...,,,,,508,,8,,,
freq,1,1,1,2,2,2,1,2,7,3,...,30,7,4,5,2,9,2,20,10,17

In [31]:
df.index==""

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [35]:
df.drop_duplicates(inplace=True)
print(df)

    Unnamed: 0                                    Unnamed: 1 REPORTED CASES  \
4            1                          Death  (by shooting)            190
9            8             Other Death (Not Specified above)          3,186
15          12                                Counterfeiting            541
16          13             Forgeries & Uttering of Documents            898
19          16                  Obtaining By False Pretences         12,313
21          18                                   Land Frauds            345
28          22                              Indecent Assault            396
43          34                                    Burglaries          6,867
44          35                               House Breakings          3,368
45          36                                 Shop Breaking          2,000
47          38                Other Breakings (garage ,etc )          1,336
50          39                       Theft of Motor Vehicles          1,200
51          40                         Theft of Motor Cycles          4,612
52          41                      Theft from M/Vs (Spares)          1,093
53          42                    Theft from M/Vs (property)            597
54          43                             Theft of Bicycles          1,028
55          44                   Theft of Computers(Laptops)            796
56          45                       Thefts of Mobile Phones          6,205
58          47                                Thefts of Cash          7,079
59          48                               Cattle Stealing          7,161
60          49      Theft of Telecom,Electrical & Comm Items            127
62          51            Receiving & Retaining(Stolen Prop)            415
63          52  Theft (property snatching-Bags,Neckless,etc)             80
64          53                Theft of all  kinds (General )         31,135
67          54              Aggravated Robbery(Motor Cycles)            481
69          56                      Aggravated Robbery(Cash)            390
70          57                 Aggravated   Robbery(general)          1,212
72          59                       Simple Robbery(general)          5,173
76          61                  Aggravated Assaults(general)          6,584
77          62                               Common Assaults         29,735
80          63                          Threatening Violence         13,357
83          67                               Arson (General)          2,196
84          68                  Malicious Damage to Property          8,339
86          70                   Escapes from Lawful Custody          1,557
90          74                            Criminal Tresspass          9,500
91          75                             Domestic Violence         13,916
92          76                                  Att. Suicide            293
94          78            Att. Killing( other than shooting)            740
95          79   other penal code offences (not categorized)         13,570
102         82                        Incitement to Violence            181
104         84                             Election Offences            249
113         89                               Herbal Cannabis            679
114         91                      Other Narcotics(general)          2,195
117         93                               Immigration Act            472
118         94                                          NEMA            306
119         95                       Fish and Crocodiles Act            642
122         98                                   UWA Statute            648
124        100                                All other Acts            821

    Unnamed: 3 Unnamed: 4 Unnamed: 5 PERFOMANCE Unnamed: 7 Unnamed: 8  \
4          117         29         44         74          3          1
9        1,740        626        820      1,259         25          2
15         215        159        167        244         51          1
16         525        186        187        378         52          5
19       5,776      3,936      2,601      4,637        817         51
21         171        124         50        173          9          4
28         118        114        164        199         54          3
43       2,256      1,511      3,100      3,906        851         50
44       1,038        693      1,637      1,933        471         32
45         670        390        940      1,224        231         21
47         368        264        704        818        192         10
50         682        265        253        545         51          6
51       2,144        956      1,512      2,195        341         28
52         467        259        367        515        105          6
53         238        171        188        262         57          4
54         293        277        458        502        178          6
55         331        235        230        358         70          4
56       2,245      1,875      2,085      2,896        730         36
58       2,791      1,890      2,398      3,414        757         52
59       2,006      1,641      3,514      3,952      1,132         48
60          44         33         50         77         15          1
62         112         83        220        261         70          3
63          26         11         43         49         19          4
64       9,391      8,311     13,433     16,977      5,052        208
67         313         66        102        196          6          2
69         231         58        101        161          1          2
70         630        206        376        581         17          1
72       2,166      1,475      1,532      2,170        309         14
76       2,353      1,436      2,795      3,241        824         51
77      12,442     11,835      5,458      8,100      1,678        127
80       5,223      4,477      3,657      5,192      1,024         86
83         885        584        727        871         86         23
84       3,409      2,723      2,207      3,362        586         75
86         292        172      1,093      1,114        750          4
90       3,959      3,111      2,430      4,013        708         60
91       5,143      7,627      1,146      2,362        317         35
92         101        132         60         72         24          1
94         246        135        359        417         68          7
95       5,011      4,301      4,258      6,048      1,509         67
102         81         66         34         67          4          1
104         97        110         42        101          5          2
113        104         88        487        531        188          2
114        469        286      1,440      1,549        597         15
117         45         84        343        362        242          2
118        113         78        115        125         59          2
119         91        155        396        428        231          5
122        112         89        447        485        269          8
124        345        189        287        430        173          7

    Unnamed: 9  ... Unnamed: 28 Unnamed: 29 Unnamed: 30  Unnamed: 31  \
4            1  ...
9            8  ...                                   1
15          30  ...                      13           9      700,000
16          26  ...                       1           5   19,490,000
19         389  ...           1         107         123   72,330,000
21           7  ...                                   2   26,000,000
28          22  ...                       5           6
43         641  ...           2          62          96   13,768,000
44         321  ...           1          38          62    6,288,000
45         181  ...           1          10          27    6,800,000
47         145  ...                      15          23    2,200,000
50          33  ...                      11           2   23,800,000
51         228  ...                      33           7   23,850,000
52          48  ...                      10          19    1,600,000
53          30  ...                       2          10    1,400,000
54          91  ...                      11          14    4,700,000
55          38  ...                       7           9    3,100,000
56         380  ...           1          73         142    8,460,000
58         378  ...           2          91         125   95,120,000
59         682  ...                      75         141   43,380,002
60           8  ...                       1          15      500,000
62          38  ...                       7          18    1,000,000
63           7  ...                       2                1,200,000
64       2,456  ...          17         442         861   69,348,004
67           2  ...                                        2,200,000
69           4  ...
70          13  ...                                   4      200,000
72         251  ...           1          44          48   10,846,000
76         358  ...           2         108         130   43,120,037
77         801  ...           9         234         489   26,130,514
80         653  ...           3         140         216    8,160,117
83         115  ...           1          11           7    6,700,036
84         354  ...           3          79         105   10,300,045
86          74  ...                      14          26    1,000,022
90         399  ...           1         108         196    5,610,090
91         174  ...           4          77          63    1,400,023
92          11  ...                       3           1      300,006
94          30  ...           1           3           3    7,000,003
95         629  ...          10         491         709   29,655,105
102          7  ...                                  18
104         11  ...                       3           4    1,200,000
113         87  ...                      18          48      250,000
114        225  ...                      76         276    3,980,001
117         13  ...                      93           3  230,000,000
118         11  ...                      15          17   20,700,000
119         55  ...                     127          33   10,220,000
122         26  ...                      15          10  172,222,000
124         19  ...          21          41          60   69,060,000

    Unnamed: 32 Unnamed: 33 Unnamed: 34 Unnamed: 35      Unnamed: 36  \
4           197           4          17                   11,500,000
9         2,475         192         473         104          600,000
15          416           3         164                  226,405,000
16          713           3         125                  776,721,600
19        9,525           9       2,807           5  121,253,215,820
21          272                      78                  735,920,000
28            2           8         293          93
43        5,126          54       1,712           8   14,896,936,673
44        2,482          20         833          29    3,935,352,209
45        1,623          11         421          16    5,055,172,360
47        1,051           3         272           3    9,121,558,001
50        1,064           1         151               31,128,827,744
51        4,278          15         316           1   13,101,107,265
52          961           5         115           8   28,510,074,488
53          508                      93                2,246,998,384
54          898          16         106           2      372,666,726
55          606           2         224           2    1,484,472,952
56        4,150          57       2,011          37    2,512,992,663
58        4,805          26       2,244          16   31,052,399,962
59        5,669          15       1,355           3    9,334,239,250
60          103           1          24                  617,536,000
62          366                      44                  851,543,200
63           55                      28                   38,138,300
64       23,117         209       7,119         112   44,714,306,227
67          451           1          26                1,629,342,000
69          326           2          74                8,136,488,540
70        1,013           3         208           1    6,053,008,099
72        3,941          42       1,165           3    8,266,203,900
76        4,488         133       2,031          57          625,000
77       17,235         775      10,176         297
80        8,600         103       4,424          51           60,000
83        1,453          37         556          25    1,002,328,650
84        5,926          93       2,215          24    1,441,291,000
86        1,305           9         101                    5,764,320
90        6,953          34       2,290          12       21,392,000
91        2,873         541      10,478         558
92          169           1          89           5
94          559          13         158           5
95        9,928         244       2,983         215    6,923,825,490
102         171                      11
104         215           1          25
113         508           1          36
114       1,790          19         101                      850,000
117         363                       8
118         258                      32                    6,600,000
119         633                       3
122         608                       8                   26,000,000
124         710          10          62           9      241,790,000

        Unnamed: 37
4
9
15       13,577,000
16       77,321,000
19   18,452,845,505
21        8,250,000
28
43    1,449,951,500
44      545,307,100
45      705,691,500
47      781,194,100
50    8,385,794,744
51    3,611,562,000
52      463,875,000
53      275,770,200
54       90,301,100
55      265,351,352
56      687,179,643
58    4,271,332,566
59    2,929,056,600
60       44,894,600
62      201,431,200
63        6,815,000
64   10,400,278,297
67      255,261,000
69      247,191,000
70      943,451,000
72      953,609,800
76
77
80
83       64,478,000
84       97,843,000
86
90        3,020,000
91
92
94
95      949,484,420
102
104
113
114
117
118
119
122      26,000,000
124         440,000

[48 rows x 38 columns]

In [36]:
df2.columns

Index(['YEAR', 'DISTRICT ', 'SCHOOL', 'TOTAL CANDIDATES', 'TOTAL DIV 1',
       '% DIV 1', 'TOTAL DIV 2', '% DIV 2', 'TOTAL DIV 3', '% DIV 3',
       'TOTAL DIV 4', '% DIV 4', 'TOTAL DIV 7', '% DIV 7', 'TOTAL DIV 9',
       '% DIV 9', 'TOTAL X', '% X', 'FEMALE CANDIDATES', 'FEMALE TOTAL DIV1 ',
       'FEMALE % DIV1 ', 'FEMALE TOTAL DIV2 ', 'FEMALE % DIV2',
       'FEMALE TOTAL DIV3', 'FEMALE % DIV3', 'FEMALE TOTAL DIV4',
       'FEMALE % DIV4', 'FEMALE TOTAL DIV7', 'FEMALE % DIV7',
       'FEMALE TOTAL DIV9', 'FEMALE % DIV9', 'FEMALE TOTAL X', 'FEMALE % X ',
       'MALE CANDIDATES', 'MALE TOTAL DIV1 ', 'MALE % DIV1 ',
       'MALE TOTAL DIV2 ', 'MALE % DIV2', 'MALE TOTAL DIV3', 'MALE % DIV3',
       'MALE TOTAL DIV4', 'MALE % DIV4 ', 'MALE TOTAL DIV7 ', 'MALE % DIV7',
       'MALE TOTAL DIV9 ', 'MALE % DIV9', 'MALE TOTAL X ', 'MALE % X'],
      dtype='object')

In [37]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17639 entries, 0 to 17638
Data columns (total 48 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YEAR                17639 non-null  int64
 1   DISTRICT            17639 non-null  object
 2   SCHOOL              17638 non-null  object
 3   TOTAL CANDIDATES    17368 non-null  float64
 4   TOTAL DIV 1         12858 non-null  float64
 5   % DIV 1             17639 non-null  float64
 6   TOTAL DIV 2         16880 non-null  float64
 7   % DIV 2             17639 non-null  float64
 8   TOTAL DIV 3         17168 non-null  float64
 9   % DIV 3             17639 non-null  float64
 10  TOTAL DIV 4         16888 non-null  float64
 11  % DIV 4             17639 non-null  float64
 12  TOTAL DIV 7         6489 non-null   float64
 13  % DIV 7             17639 non-null  float64
 14  TOTAL DIV 9         13454 non-null  float64
 15  % DIV 9             17639 non-null  float64
 16  TOTAL X             13404 non-null  float64
 17  % X                 17639 non-null  float64
 18  FEMALE CANDIDATES   17639 non-null  int64
 19  FEMALE TOTAL DIV1   8525 non-null   float64
 20  FEMALE % DIV1       17581 non-null  float64
 21  FEMALE TOTAL DIV2   14332 non-null  float64
 22  FEMALE % DIV2       17581 non-null  float64
 23  FEMALE TOTAL DIV3   16474 non-null  float64
 24  FEMALE % DIV3       17581 non-null  float64
 25  FEMALE TOTAL DIV4   16681 non-null  float64
 26  FEMALE % DIV4       17581 non-null  float64
 27  FEMALE TOTAL DIV7   4764 non-null   float64
 28  FEMALE % DIV7       17581 non-null  float64
 29  FEMALE TOTAL DIV9   12349 non-null  float64
 30  FEMALE % DIV9       17581 non-null  float64
 31  FEMALE TOTAL X      10596 non-null  float64
 32  FEMALE % X          17581 non-null  float64
 33  MALE CANDIDATES     17639 non-null  int64
 34  MALE TOTAL DIV1     10038 non-null  float64
 35  MALE % DIV1         17505 non-null  float64
 36  MALE TOTAL DIV2     15242 non-null  float64
 37  MALE % DIV2         17505 non-null  float64
 38  MALE TOTAL DIV3     16399 non-null  float64
 39  MALE % DIV3         17505 non-null  float64
 40  MALE TOTAL DIV4     16260 non-null  float64
 41  MALE % DIV4         17505 non-null  float64
 42  MALE TOTAL DIV7     7508 non-null   float64
 43  MALE % DIV7         17505 non-null  float64
 44  MALE TOTAL DIV9     10519 non-null  float64
 45  MALE % DIV9         17505 non-null  float64
 46  MALE TOTAL X        10379 non-null  float64
 47  MALE % X            17505 non-null  float64
dtypes: float64(43), int64(3), object(2)
memory usage: 6.5+ MB

In [38]:
df2.describe()

,YEAR,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,TOTAL DIV 4,% DIV 4,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
count,17639.000000,17368.000000,12858.000000,17639.000000,16880.000000,17639.000000,17168.000000,17639.000000,16888.000000,17639.000000,...,16399.000000,17505.000000,16260.000000,17505.000000,7508.000000,17505.000000,10519.000000,17505.000000,10379.000000,17505.000000
mean,2013.582119,100.111469,10.348266,6.226481,16.058649,14.748733,22.545841,22.165344,45.981348,45.378326,...,12.141899,22.275321,21.750308,40.687735,7.981220,0.427552,5.304687,6.074424,1.937759,2.206164
std,1.710821,66.964610,26.214334,13.266156,19.324105,12.800108,17.804404,10.241613,35.558741,20.025948,...,10.747881,11.836926,18.530590,21.373996,15.589676,1.522106,7.048635,8.668762,2.284239,4.182025
min,2011.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2012.000000,54.000000,1.000000,0.000000,4.000000,5.500000,10.000000,15.300000,22.000000,35.400000,...,5.000000,14.900000,9.000000,27.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
50%,2014.000000,84.000000,3.000000,1.800000,10.000000,10.900000,18.000000,22.200000,38.000000,50.400000,...,9.000000,22.400000,17.000000,45.300000,1.000000,0.000000,3.000000,2.600000,1.000000,0.800000
75%,2015.000000,128.000000,8.000000,5.700000,20.000000,20.400000,30.000000,29.000000,61.000000,59.400000,...,16.000000,29.900000,29.000000,56.300000,9.000000,0.000000,7.000000,9.000000,2.000000,3.200000
max,2016.000000,499.000000,430.000000,100.000000,245.000000,100.000000,179.000000,100.000000,302.000000,100.000000,...,140.000000,100.000000,170.000000,100.000000,178.000000,66.700000,81.000000,100.000000,49.000000,100.000000

In [40]:
df2.shape

(17639, 48)

In [41]:
df2.isnull()

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,False,False,False,False,False,False,False,False,True,False,...,True,False,True,False,True,False,True,False,True,False
1,False,False,False,False,False,False,True,False,True,False,...,True,False,True,False,True,False,True,False,True,False
2,False,False,False,False,False,False,False,False,True,False,...,True,False,True,False,True,False,True,False,True,False
3,False,False,False,False,False,False,False,False,True,False,...,True,False,True,False,True,False,True,False,True,False
4,False,False,False,False,False,False,False,False,True,False,...,False,False,True,False,True,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17635,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17636,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17637,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17638,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False